.icon {
    color: #8e6cd3; /* Цвет фиолетовый */
    cursor:pointer
}


.sidebarItemStylesOpen {
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
    padding-left: 30px;
}

.diamond {
    position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -26px;
    left: 33px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
  }
  
  &:before {
    border-bottom-color: #9370DB; /* Верхняя граница ромба */
  }
  
  &:after {
    border-top-color: #9370DB; /* Нижняя граница ромба */
    transform: rotate(180deg);
  }
}

.languageMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #9370DB; /* Цвет фона меню */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для меню */
    padding: 10px;
    color: white; /* Цвет текста белый для хорошей контрастности */
    top: 67px;
    right: 335px;
    font-size: 14px;
    width: 110px
}

